<nav class="navbar navbar-expand-lg navbar-light bg-marrom-claro">
  <a class="navbar-brand" href="/">
    <img src="imagens/pombabrancalogo.png" alt="Pomba Branca" width="80" height="40" class="d-inline-block align-top">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav w-100">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>

      <!-- Dropdown Users -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUsers" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Usuários
        </a>
        <div class="dropdown-menu bg-marrom-clarinho" aria-labelledby="navbarDropdownUsers">
          <a class="dropdown-item bg-marrom-clarinho" href="/users/new">Cadastrar Usuário</a>
          <a class="dropdown-item bg-marrom-clarinho" href="/users">Listar Usuários</a>
        </div>
      </li>

      <!-- Dropdown Categorias -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCategorias" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Categorias
        </a>
        <div class="dropdown-menu bg-marrom-clarinho" aria-labelledby="navbarDropdownCategorias">
          <a class="dropdown-item bg-marrom-clarinho" href="/categorias/new">Cadastrar Categoria</a>
          <a class="dropdown-item bg-marrom-clarinho" href="/categorias">Listar Categorias</a>
        </div>
      </li>

      <!-- Dropdown Produtos -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProdutos" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Produtos
        </a>
        <div class="dropdown-menu bg-marrom-clarinho" aria-labelledby="navbarDropdownProdutos">
          <a class="dropdown-item bg-marrom-clarinho" href="/produtos/new">Cadastrar Produto</a>
          <a class="dropdown-item bg-marrom-clarinho" href="/produtos">Listar Produtos</a>
        </div>
      </li>

      <!-- Carrinho dentro do menu (aparece só em telas pequenas) -->
      <li class="nav-item d-lg-none">
        <a class="nav-link bg-marrom-clarinho" href="/pedidos">Pedidos</a>
      </li>
    </ul>

    <!-- Carrinho fora do menu (aparece só em telas grandes) -->
    <a class="nav-link bg-marrom-clarinho carrinho d-none d-lg-block ms-auto" href="/pedidos">Pedidos</a>
  </div>
</nav>


<script>
  $(document).ready(function() {
    $('.navbar-collapse a').click(function(){
      $('.navbar-collapse').collapse('hide');
    });
  });
</script>
