<%- include('partials/navbar') %>

<div class="jumbotron text-center">
    <h1>Bem-vindo ao Sistema da Funerária Menino Deus</h1>
    <p class="lead">Gerencie seus usuários, produtos, pedidos e arquivados sem esforço.</p>
</div>


<div class="row">
    <div class="col-md-6">
        <div class="feature-card">
            <h3>Gerenciamento de Usuários</h3>
            <p>Adicione e edite usuários facilmente.</p>
            <a href="/users" class="btn btn-marrom">Ir para usuários</a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="feature-card">
            <h3>Gerenciamento de Produtos</h3>
            <p>Acompanhe seus produtos e seus detalhes perfeitamente.</p>
            <a href="/produtos" class="btn btn-marrom">Ir para produtos</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="feature-card">
            <h3>Gerenciamento de Pedidos</h3>
            <p>Acompanhe seus pedidos e seus detalhes perfeitamente.</p>
            <a href="/pedidos-gerenciador" class="btn btn-marrom">Ir para pedidos</a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="feature-card">
            <h3>Gerenciamento de Arquivados</h3>
            <p>Desarquive os produtos facilmente.</p>
            <a href="/arquivados" class="btn btn-marrom">Ir para arquivados</a>
        </div>
    </div>
   
</div>
