<%- include('partials/navbarCliente') %>
<main class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="col-md-6 col-lg-5 p-4 bg-marrom-clarinho rounded shadow">
<div class="text-center">
  <img src="imagens/pombabrancalogo.png" alt="Pomba Branca" width="80" height="40" class="d-inline-block align-top">
</div>
    <h2 class="mb-4 text-center texto-marrom">Entrar no Sistema</h2>

    <% if (erro) { %>
      <div class="alert alert-danger text-center">
        <%= erro %>
      </div>
    <% } %>

    <form action="/login" method="POST">
      <div class="form-group">
        <label for="email" class="texto-marrom">E-mail</label>
        <input type="email" name="email" id="email" class="form-control" placeholder="Digite seu e-mail" required>
      </div>

      <div class="form-group mt-3">
        <label for="senha" class="texto-marrom">Senha</label>
        <input type="password" name="senha" id="senha" class="form-control" placeholder="Digite sua senha" required>
      </div>

      <button type="submit" class="btn btn-marrom w-100 mt-4">Entrar</button>
    </form>

  </div>
</main>
