<%- include('partials/navbarCliente') %>
<main class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="col-md-6 col-lg-5 p-4 bg-marrom-clarinho rounded shadow">
    <div class="text-center">
      <img src="imagens/pombabrancalogo.png" alt="Pomba Branca" width="80" height="40" class="d-inline-block align-top">
    </div>
    <h2 class="mb-4 text-center texto-marrom">Entrar no Sistema</h2>

    <% if (sucesso) { %>
      <div class="alert alert-success text-center">
        Conta criada com sucesso! Faça login.
      </div>
    <% } %>

    <% if (erro) { %>
      <div class="alert alert-danger text-center">
        <%= erro %>
      </div>
    <% } %>

    <form action="/login" method="POST">
      <div class="form-group">
        <label for="username" class="texto-marrom">Usuário</label>
        <input type="text" name="username" id="username" class="form-control" placeholder="Digite seu usuário" required>

        <label for="password" class="texto-marrom mt-3">Senha</label>
        <input type="password" name="password" id="password" class="form-control" placeholder="Digite sua senha" required>
      </div>

      <button type="submit" class="btn btn-marrom w-100 mt-4">Entrar</button>
    </form>

    <div class="text-center mt-3">
      <p class="texto-marrom">Não tem uma conta?</p>
    <a href="/registrar" class="btn btn-outline-marrom w-100">Criar Conta</a>
    </div>
  </div>
</main>
