

<style>
.pedido-card {
  background-color: #fff8eb !important;
  border: 1px solid #d9c8b8;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.pedido-card:hover {
  transform: scale(1.01);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.pedido-card h5 {
  color: #57330f;
}
.pedido-card hr {
  border-color: #d9c8b8;
}
</style>
<%- include('partials/navbar') %>


<h2 class="mt-4 titulo-centralizado texto-marrom"><strong>Pedidos Recebidos</strong></h2>

<div class="container mt-4">
  <% if (pedidos.length > 0) { %>
    <% pedidos.forEach(p => { %>
      <div class="pedido-card mb-3">
        <h5 class="texto-marrom">
          <%= new Date(p.criado_em).toLocaleDateString() %> — <%= p.cliente %>
        </h5>
       
       <a href="/pedidos/<%= p.pedido_id %>" class="btn btn-marrom">Visualizar</a>
      </div>
    <% }) %>
  <% } else { %>
    <p>Nenhum pedido registrado.</p>
  <% } %>
</div>

