   <!DOCTYPE html>
<html lang="pt-br">
<head>
  <title><%= title %></title></head>
   <%- include('partials/navbarCliente') %>
   <body>
   <div class="articletitle text-center mb-4">
     <h2 class="mt-4 titulo-centralizado"><strong>Nossos Serviços</strong></h2>
      <p>Oferecemos serviços completos para atender você em um momento delicado com cuidado e excelência.</p>
    </div>
   
    <div class="row">
    <div class="col-md-4">
        <div class="feature-card">
            <h3>Serviços Funerários</h3>
            <p>Organização completa de velórios e sepultamentos com dignidade, respeito e cuidado aos detalhes.</p>
            <a href="/funerais" class="btn btn-marrom">Detalhes</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="feature-card">
            <h3>Arranjos Florais</h3>
            <p>Flores naturais e artificiais para homenagens, coroas e ornamentos sob medida.</p>
            <a href="/flores" class="btn btn-marrom">Detalhes</a>
        </div>
    </div>
     <div class="col-md-4">
        <div class="feature-card">
            <h3>Homenagens Especiais</h3>
            <p>Momentos personalizados com música, mensagens e rituais simbólicos que celebram a memória.</p>
            <a href="/produtos" class="btn btn-marrom">Detalhes</a>
        </div>
    </div>
</div></body></html>