<!DOCTYPE html>
<%- include('partials/navbarCliente') %>
<html>
<head>
  <title><%= title %></title>
  
</head>
<body>

  <div class="articletitle text-center mb-4">
  <h2 class="mt-4 titulo-centralizado"><strong>Sobre a Funerária</strong></h2>
</div>

<p >AAAAAAAAAAAAAAAAA</p>
 


    <!-- Nossos Serviços -->
<div class="articletitle text-center mb-4">
  <h2 class="mt-4 titulo-centralizado"><strong>Nossos Serviços</strong></h2>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="feature-card-servicos card1">
      <div class="card-img-overlay"></div>
      <div class="card-content">
        <h3>Serviços Funerários</h3>
        <p>Organização completa de velórios e sepultamentos com dignidade, respeito e cuidado aos detalhes.</p>
        <a href="/funerais" class="btn btn-marrom">Detalhes</a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="feature-card-servicos card2">
      <div class="card-img-overlay"></div>
      <div class="card-content">
        <h3>Arranjos Florais</h3>
        <p>Flores naturais e artificiais para homenagens, coroas e ornamentos sob medida.</p>
        <a href="/flores" class="btn btn-marrom">Detalhes</a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="feature-card-servicos card3">
      <div class="card-img-overlay"></div>
      <div class="card-content">
        <h3>Homenagens Especiais</h3>
        <p>Momentos personalizados com música, mensagens e rituais simbólicos que celebram a memória.</p>
        <a href="/homenagens" class="btn btn-marrom">Detalhes</a>
      </div>
    </div>
  </div>
</div>

</body>
</html>