body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fffdf0;
  }

 
  
  header {
    background-color: gold;
  }
  
  .header-left,
  .header-center,
  .header-right {
    flex: 1;
    text-align: center;
  }
  
  .header-left {
    text-align: left;
  }
  
  .header-center {
    padding-left: 200px;
  }

  .header-right {
    text-align: right;
  }
  .botaocontato {
    background-color: #fffade;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }

  /* Em telas pequenas o menu vai para baixo */
@media (max-width: 767px) {
  .header .d-md-none {
    display: block;
  }
  .header-center {
    display: none;
  }
  .menusmall {
    background-color: gold;
  }
}

/* Em telas maiores o menu fica centralizado */
@media (min-width: 768px) {
  .header .d-md-none {
    display: none;
  }
  .header-center {
    display: block;
  }
}
  
  .nav-link {
    color: #0e0f14 !important;
    font-weight: bold;
  }
  
  .article {
    background-color: #fffade;
    color: #0e0f14;
  }

  .article .articletitle{
    text-align: center;
  }
  
  .footer {
    background-color: gold;
  }
  
  .footer-left,
  .footer-center,
  .footer-right {
    flex: 1;
    color: #0e0f14;
    text-align: center;
  }
  
  .footer-left {
    text-align: left;
  }
  
  .footer-right {
    text-align: right;
  }
  
 